.btn {
  font-family: $font-family-cursive;
  font-weight: bold;
  font-size: rem(20);
  color: $white;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: rem(2);
  border-radius: 0;
  padding: rem(12) rem(20);

  @include media-breakpoint-up(md) {
    font-size: rem(36);
    padding: rem(20) rem(45);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-cursive;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}

h4 {
  font-size: rem(36);
}

h5 {
  font-size: rem(25);
}

p {
  font-family: $font-family-base;
  font-size: rem(16);
  font-style: normal;
  color: $gray;
  line-height: 1.2;
  margin: 0;
}
